


*{
    box-sizing: border-box;
}
/*---page height---*/
html{
    min-height: 100vh;
}
body{
    margin: 0;
   background-image:url(backimg.jpeg);
   background-repeat: no-repeat;
   background-size: cover;
}
.page-title{
    color: yellow;
    text-shadow: 0 0 40px orangered,
                 0 0 25px gold;
     font-family: 'Akronim';
     font-weight: bold;
     text-align: center;
     font-size: 6em;
    
}
.game-info-container{
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
}
.game-info{
    font-family: 'Charm';
    color: yellow;
    text-shadow: 0 0 25px orangered,
                 0 0 25px gold;
    font-size: 4em;
}
.game-container{
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}
.card{
    
    height: 175px;
    width: 125px;
   
    position: relative;
    
}
.card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
    border-radius: 12px;
    border-width: 1px;
}
.card-front{
    transform: rotateY(180deg);
    background-color:rgb(241, 203, 12);
    border: 5px solid;
    border-color: rgb(88, 8, 58);

}
.card-back{
    background-color: rgb(83, 6, 54);
    border:5px solid;
    border-color: #fffb00;
    box-shadow: 0px 0px 40px #fcf95e;
    transform: rotateY(0);
}

.card.visible .card-back{
    transform: rotateY(-180deg);
}
.card.visible .card-front{
    transform: rotateY(0);
}

.blackface{
    position: absolute;
    width: 120px;
    height: 100px;

    
    
}
.emoji{
  position: absolute;
  width: 120px;
  height: 110px;
}

.overlay-text{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    justify-content: center;
    align-items: center;
    color: yellow;
    text-shadow: 0 0 25px orangered,
                 0 0 25px gold;
    font-family: 'Black And White Picture';
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small{
    font-size: 4vw;
}
.overlay-text.visible{
    display: flex;
    animation: overlay-grow 500ms forwards;
    flex-direction: column;
}
@keyframes overlay-grow{
    from{
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to{
        background-color: rgba(0, 0, 0, .8);
        font-size: 12vw;
    }
}

@media (max-width:600px){
    .game-container{
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container{
        flex-direction: column;
        align-items: center;
    }
}




